<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Estimation calculator</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="item in items">
                    <h3>{{ item['fields']['name'] }}</h3>
                    <p> item['fields']['quantity'] }} </p>
                    <p><strong>Price: </strong>${{ item['fields']['Invoice price'] }}</p>
                    <p><strong>extra%: </strong>{{ item['fields']['extra'] }}</p>
                    <img :src="item['fields']['picture'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['picture']" width="150">
                    <div class="estimation-wrapper">
                        <div class="service-level-section">
                            <div id="level-professional" class="service-level-col" data-price="15">
                                <div class="service-level-col-bg">
                                    <h3 class="t-center">Professional</h3>
                                </div>
                                <div class="service-level-section-price">$
                                    <span id="estimation-price-professional" class="estimation-total-amount-number">${{ item['fields']['Invoice price'] }}</span>
                                    <sup> .&nbsp;</sup>
                                </div>
                            </div>
                            <div id="level-ultimate" class="service-level-col" data-price="20">
                                <div class="service-level-col-bg">
                                    <h3 class="t-center">Ultimate</h3>
                                </div>
                                <div class="service-level-section-price">$
                                    <span id="estimation-price-ultimate" class="estimation-total-amount-number">100</span>
                                    <sup> .<span id="estimation-price-ultimate-decimals">00</span> / MO</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="calc-count" max="1500" min="1" step="1" type="number"/>
                </li>
                <input class="calc-range m-top-20" max="1500" min="1" step="1" type="range" value="1"/>
                <div class="estimation-input-row">
                    <div class="calc-discount">Discount applied: 
                        <span class="estimation-calc-price">0</span> %
                    </div>
                </div>
            </ul>
        </div>
        <!--app-->
        <!-- Include Dependancy Scripts -->
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    items: []
                },
                mounted: function(){
                   this.loadItems();
                },
                methods: {
                    loadItems: function(){

                        // Init variables
                        var self = this
                        var app_id = "appPwNJoRVZ7Vvf1W";
                        var app_key = "keyeG48OaBtxoEPwz";
                        this.items = []

axios.get(
                            "https://api.airtable.com/v0/appPwNJoRVZ7Vvf1W/tbllcYAWpseq94wYe?",
                            {
                                headers: { Authorization: "Bearer "+app_key }
                            }
                        ).then(function(response){
                            self.items = response.data.records
                        }).catch(function(error){
                            console.log(error)
                        })
                    }
                }
            })
        </script>
        <style>h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    width: 250px;
    background: #e6e6e6;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 50px;
}</style>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src="js/index.js"></script>
    </body>
</html>