<html>
    <head>
        <meta charset="UTF-8">
        <title>Menu Items</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link href="file:///Users/yuribondarenko/Desktop/html%20killah/material-form(gagarin)/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="app">
            <h1>ERIE</h1>
            <ul>
                <li v-for="item in items" class="z-depth-1 waves-effect shadow transparent lighten-4 waves-light hoverable border border-success" style="height: auto; letter-spacing: 0px; text-align: justify;">
                    <h5 class="indigo-text text-darken-1" style="text-align: left; font-weight: normal;">{{ item['fields']['name'] }}</h5>
                    <p style="text-align: left; grid-area: 3 / 1 / 3 / 2; height: -157px;"><span class="price" style="font-size: 36px;">€{{ item['fields']['original unit price'] }}</span></p>
                    <p style="grid-area:4 / 1 / 3 / 2;">quantity</p>
                    <input v-model="item['fields']['count']" style="grid-area:3 / 1 / 3 / 2;">
                    &nbsp;innvoice Price:&nbsp; {{ calculatePrice( item['fields']['original unit price'], item['fields']['count']) }}
                    <p> </p>
                    <img :src="item['fields']['picture'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['picture']" width="" style="/* object-fit: fill */
margin-bottom: 10px; padding-bottom: 4px; top: 44px; max-width: 488px;">
                </li>
            </ul>
        </div>
        <!--app-->
        <!-- Include Dependancy Scripts -->
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    items: []
                },
                mounted: function(){
                   this.loadItems();
                },
                methods: {
                    loadItems: function(){

                        // Init variables
                        var self = this
                        var app_id = "appPwNJoRVZ7Vvf1W";
                        var app_key = "keyeG48OaBtxoEPwz";
                        this.items = []

                        axios.get(
                            "https://api.airtable.com/v0/appPwNJoRVZ7Vvf1W/tbllcYAWpseq94wYe?",
                            {
                                headers: { Authorization: "Bearer "+app_key }
                            }
                        ).then(function(response){
                            self.items = response.data.records
                        }).catch(function(error){
                            console.log(error)
                        })
                    },
                     calculatePrice: function(price, count){
                        //debugger;
                        var endPrice = price * (count || 0)
                        var percent  = endPrice / 100
                        if(count < 30 && count > 25){
                            endPrice += percent * 15 
                        }else if(count < 25 && count > 20){
                            endPrice += percent * 20 
                        }else if(count < 20 && count > 15){
                            endPrice += percent * 25 
                        }else if(count < 15){
                            endPrice += percent * 30 
                        }
                        return Math.round( endPrice )
                    },
                }
            })
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </body>
    <style>h1 {
    text-align: center;
}

ul {
    list-style-type: NONE;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: AUTO;
    flex-wrap: wrap;
}

li {
    width: AUTO;
    background: #e6e6e6;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 13px;
}</style>
</html>