body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  height: 80px;
  nav {
    float: right;
    margin-top: 30px;
  }
}

a {
  margin-right: 30px;
}

.container {
  margin: 50px 0 0 30px;
}

.subroute {
  margin: 30px 50px 0 0;
  padding: 20px;
}

// Note: When no transition class name is provided, these are the default transition classes 
// that will control the transition in the<router-view transition></router-view> tags.

.v-transition {
  transition: opacity .1s ease-out;
}
  
.v-enter, .v-leave {
  opacity: 0;
}

// However, they can be named, i.e. <view-router transition="fade"></view-router>
// would be controlled by .fade-transition, .fade-enter, and .fade-leave
// https://vuejs.org/guide/transitions.html